#city-choose.dropdown
  = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
    i Минск
    |&nbsp;
    span.caret
ul#city-choose-menu.dropdown-menu
  li.close
  li
    <a href="">Бобруйск</a><br />
    <a href="">Борисов</a><br />
    <a href="">Быхов</a><br />
    <p>&nbsp;</p>
    <a href="">Ветка</a><br />
    <a href="">Витебск</a><br />
    <p>&nbsp;</p>
    <a href="">Гомель</a><br />
    <a href="">Горки</a><br />
    <a href="">Городок</a><br />
    <p>&nbsp;</p>
    <a href="">Дзержинск</a><br />
    <a href="">Добруш</a><br />
    <a href="">Дрисса</a><br />
    <a href="">Дубровно</a><br />
    <p>&nbsp;</p>
    <a href="">Жлобин</a>
  li
    <a href="">Калинковичи</a><br />
    <a href="">Климовичи</a><br />
    <a href="">Крючев</a><br />
    <p>&nbsp;</p>
    <a href="">Лепель</a><br />
    <p>&nbsp;</p>
    <a href="">Минск</a><br />
    <a href="" class="disabled">Могилёв</a><br />
    <a href="" class="disabled">Мозырь</a><br />
    <a href="">Мстиславль</a><br />
    <p>&nbsp;</p>
    <a href="">Орша</a><br />
    <a href="">Осипович</a><br />
    <p>&nbsp;</p>
    <a href="">Петриков</a><br />
    <a href="">Полоцк</a>
  li
    <a href="">Речица</a><br />
    <a href="">Рогочёв</a><br />
    <p>&nbsp;</p>
    <a href="">Сенно</a><br />
    <a href="">Слуцк</a><br />
    <a href="">Старые Дороги</a><br />
    <p>&nbsp;</p>
    <a href="">Чаусы</a><br />
    <a href="">Червень</a><br />
    <a href="">Чериков</a><br />
    <p>&nbsp;</p>
    <a href="">Шклов</a>
