ul.nav.nav-list
  li.nav-header Каталог скидок
  - data.categories.each do |category|
    li data-icon=category.icon
      a href="#" = category.title
      - if category.badge
        span = "+#{category.badge}"

#sidebar-advertising
  = link_to image_tag("advertising_2.png"), "#"

h3 Новые бренды
.brands
  <a href="">Спортмастер</a>,
  <a href="">Икеа(Ikea)</a>,
  <a href="">Ив Роше</a>,
  <a href="">Техносила</a>,
  <a href="">Эльдорадо</a>,
  <a href="">Связной</a>,
  <a href="">ТЦ Мега</a>,
  <a href="">Снежная Королева</a>,
  <a href="">Adidas</a>,
  <a href="">Лексус(Lexus)</a>,
  <a href="">Терволина</a>,
  <a href="">Глория</a>

h3 Популярные бренды
.brands
  <a href="">Спортмастер</a>,
  <a href="">Икеа(Ikea)</a>,
  <a href="">Ив Роше</a>,
  <a href="">Техносила</a>,
  <a href="">Эльдорадо</a>,
  <a href="">Связной</a>,
  <a href="">ТЦ Мега</a>,
  <a href="">Снежная Королева</a>,
  <a href="">Adidas</a>,
  <a href="">Лексус(Lexus)</a>,
  <a href="">Терволина</a>,
  <a href="">Глория</a>


